.nav_side_left {
  background: rgb(21, 42, 63);
}

.container-logotype {
    background: #fff;
}

#nav-mobile{
    /* overflow:scroll; */
}
#nav-mobile::-webkit-scrollbar {  
    width: 10px;  
}  
#nav-mobile::-webkit-scrollbar-track {  
    background-color: transparent;  
}  
#nav-mobile::-webkit-scrollbar-thumb {  
    background-color: #ccc; 
}  
#nav-mobile::-webkit-scrollbar-thumb {  
    background-color: #ccc;  
} 
.container-icon .icon p {
    color: rgb(19, 157, 159);
    font-weight: bold;
    font-size: 16px;
}

.avatar-img .editar a {
    font-weight: bold;
    color: #152A3F;
}


/* Styles carlos*/
.col.s8.fondo {
  text-align: center;
  height:633px;
  position: relative;
    width: 66% !important;
      padding: 0;
        border-right: 4px solid rgb(0, 196, 197);
}
.photo {
  width: 31px;
  position: absolute;
  right: 10px;
    top: 0;
}
.bloquear {
  position: absolute;
  bottom: 0;
}
.contenido-centrado {
  width: 300px;
  height: 250px;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}
img.imagenblur {
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px);
  transform: scale(1.1);
}
i.small {
  background: white;
  border-radius: 7px;
}
h3.name.aabb {
  font-size: 3em;
  color: white;
}
.image_profile {
  width: 46px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 124px;
  right: 0;
  margin: auto;
  height: 44px;
}
h4.profesion.aabbb {
  color: white;
}
a.waves-effect.waves-light.btn {
  background-color: #1e2842;
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 15px;
}
.row.abb {
  position: relative;
  top: 100px;
}
.row.abb div {
  margin: 11px;
}
a.btn-floating.btn-large.red {
  background: #1d2841 !important;
}
.fixed-action-btn {
  position: absolute !important;
    width: 57px;
}
.col.s8.fondo {
  height: 94vh !important;
  overflow: hidden;
}
.col.s4.aabbc {
  height: 93vh !important;
  position: relative;
}
main {
  height: 100vh;
  overflow: hidden;
}
.col.s4.aabbc .s12 {
  margin: 12px;
  position: relative;
}